* {
    font-family: 'Roboto', sans-serif;
}
.responsive {
    width: 100%;
    height: auto;
}
a {
    color: inherit;
    text-decoration: inherit;
}

body {
    margin: 0;
}

#main {
    width: 100%;
    height: 100%;
}

#welcome-section {
    background-color: rgb(34,34,37);
    color: rgb(240,240,240);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100vh;
}
#welcome-section > h1 {
    font-size: 3rem;
    margin: 10px;
    font-weight: 500;
}
#welcome-section > .subtitle {
    color: rgb(170, 65, 82);
    font-size: 2rem;
    margin: 10px;
    font-weight: 100;
    font-style: italic;
}

#projects {
    background-color: rgb(69,86,125);
    color: #f0f0f0;

    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}
#projects > header {
    margin: 40px auto;
    font-size: 2.5rem;
    font-weight: 500;

    border-bottom: 1px solid #f0f0f0;
    padding: 5px 30px;
}
.projects-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.project-tile {
    width: 30%;
    background-color: #303841;
    margin: 10px;
}
@media (max-width: 1200px) {
    .project-tile {
        width: 45%;
    }
}
@media (max-width: 700px) {
    .project-tile {
        width: 90%;
    }
}
.project-tile header {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.3rem;
    margin: 20px;
}
#projects > .show-all {
    margin-top: 40px;
    margin-bottom: 60px;

    background-color: #303841;
    padding: 10px 20px;
    font-weight: 500;

    border-radius: 5px;
}
#projects > .show-all:hover {
    background-color: rgb(170, 65, 82);
}

#contacts-section { 
    display: flex;
    flex-direction: column;

    background-color: #303841;
    color: #f0f0f0;
    padding-top: 200px;
    padding-bottom: 200px;
}
.contacts-section--header {
    text-align: center;
}
.contacts-section--header > header {
    font-size: 3rem;
    font-weight: 500;
    margin: 10px;
}
.contacts-section--header > p {
    font-size: 1rem;
    font-weight: 100;
    font-style: italic;
    margin: 10px;
}
.contacts-section--contacts {
    display: flex;
    justify-content: center;

    font-size: 1.3rem;
    flex-wrap: wrap;
}
.contacts-section--contact {
    margin: 10px;
}

#navbar {
    background-color: #be3144;
    color: #f0f0f0;

    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 60px;
}
.navbar--links {
    font-size: 1.3rem;
    font-weight: 500;

    margin-left: auto;
    margin-right: 30px;
}
.navbar--link {
    margin-left: 30px;
}